.card-container {
  display: flex;
  flex-direction: column;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);

  transform: rotateY(30deg);
  background-color: rgb(255, 151, 172);

  transition: 1s;
}
/*@media (prefers-reduced-motion: no-preference) {
  .card-container {
    animation: App-logo-spin infinite 3s linear ;

  }
}*/